@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    background-color: #21BC6B;
}

.cabecalho {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 400px;
    color: white;
    height: 92px;
    align-items: center;
}

.cabecalho .parte-esquerda {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 15px;
    align-items: center;
}

.cabecalho .parte-esquerda h1 {
    font-size: 16px;
}

.cabecalho .parte-direita ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cabecalho .parte-direita li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho .parte-direita img {
    width: 24px;
    height: 24px;
}

.cabecalho .parte-direita a {
    text-decoration: none;
}

.cabecalho .parte-direita h2 {
    font-size: 22px;
    color: white;
    font-weight: 200;
}