* {
    padding: 0px;
    margin: 0px;
    background-color: #21BC6B;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    gap: 400px;
    color: white;
    height: 92px;
    align-items: center;
}

.cabecalho .parte-esquerda {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 15px;
    align-items: center;
}

.cabecalho .parte-esquerda h1 {
    font-size: 16px;
}

.cabecalho .parte-direita ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cabecalho .parte-direita li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho .parte-direita img {
    width: 24px;
    height: 24px;
}

.cabecalho .parte-direita a {
    text-decoration: none;
}

.cabecalho .parte-direita h2 {
    font-size: 22px;
    color: white;
    font-weight: 200;
}