<header class="cabecalho">
    <section class="parte-esquerda">
        <img src="/icons/iconeMochila.svg" alt="Icone de Mochila">
        <h1>Guia do mochileiro <br>Fatecano</h1>
    </section>
    <section class="parte-direita">
        <ul>
            <li><img src="/icons/iconeCasa.svg" alt="Icone Casa"><a href=""><h2>Home</h2></a></li>
            <li><img src="/icons/iconeSino.png" alt="Icone Sino"><a href=""><h2>Notificações</h2></a></li>
            <li><img src="/icons/iconeLivro.png" alt="Icone Livro"><a href=""><h2>Matérias</h2></a></li>
            <li><img src="/icons/iconeEstrela.png" alt="Icone Estrela"><a href=""><h2>Valores</h2></a></li>
            <li><img src="/icons/iconeSair.svg" alt="Icone Sair"><a href=""><h2>Sair</h2></a></li>
        </ul>
    </section>

</header>